h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Do Hyeon', sans-serif;
}

h1 {
    font-size: 50px;
}

p {
    font-family: 'Comic Neue', cursive;
}

.big-text {
    font-size: 18px;
}


/* Navigation Bar */


/* Colours */

.main-colour {
    color: rgb(90, 140, 189)
}

.text-secondary {
    color: rgb(197, 210, 243);
}


/* code style */

.code-font {
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1px;
}


/* html */

.code-tag {
    color: rgb(119, 156, 220);
}

.code-attribute {
    color: rgb(107, 220, 209);
}

.code-value {
    color: rgb(226, 220, 128);
}


/* css */

.code-target {
    color: rgb(225, 180, 85);
}

.code-property {
    color: rgb(119, 181, 220);
}

.code-css-value {
    color: rgb(223, 133, 65);
}

.code-keyframes {
    color: rgb(214, 122, 235);
}


/* carosel style */

.fa-arrow-left {
    font-size: 28px;
}

.fa-arrow-right {
    font-size: 28px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    background-color: rgb(193, 204, 211);
}


/* results */

.animate-a-gradient-result {
    font-size: 70px;
    background: -webkit-linear-gradient(#6dc1be, #aad643, #2ed16f);
    background-position: 0% 0%;
    background-size: 100% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 5s ease-in-out infinite alternate;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}