h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Do Hyeon', sans-serif;
}

p {
    font-family: 'Comic Neue', cursive;
}

p:hover {
    color: black;
}

a {
    color: gray;
}

a:hover {
    text-decoration: none;
}

.big-text {
    font-size: 18px;
}

.main-button {
    background-color: ;
    background-image: linear-gradient(rgb(108, 148, 208), rgb(73, 116, 179));
    border: solid 1px rgb(7, 33, 71);
    border-radius: 4px;
    color: white;
    padding: 4px 10px;
}


/* page background */

.page-wrapper {
    background-image: url('../../images/background.jpg');
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid rgb(193, 193, 193) 1px;
}


/* Navigation Bar */


/* Colours */

.main-colour {
    color: rgb(90, 140, 189)
}

.text-secondary {
    color: rgb(197, 210, 243);
}

.white-background {
    background-color: white;
}


/* code style */

.code-font {
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1px;
}


/* html */

.code-tag {
    color: rgb(119, 156, 220);
}

.code-attribute {
    color: rgb(107, 220, 209);
}

.code-value {
    color: rgb(226, 220, 128);
}


/* css */

.code-target {
    color: rgb(225, 180, 85);
}

.code-property {
    color: rgb(119, 181, 220);
}

.code-css-value {
    color: rgb(223, 133, 65);
}

.code-keyframes {
    color: rgb(214, 122, 235);
}


/* carosel style */

.fa-arrow-left {
    font-size: 28px;
}

.fa-arrow-right {
    font-size: 28px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    background-color: rgb(193, 204, 211);
}


/* results */


/* animate a gradient */

.animate-a-gradient-result {
    font-size: 70px;
    background: -webkit-linear-gradient(#6dc1be, #aad643, #2ed16f);
    background-position: 0% 0%;
    background-size: 100% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 5s ease-in-out infinite alternate;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}


/* footer */

.footer {
    border-top: solid rgb(205, 205, 215) 1px;
    background: -webkit-linear-gradient(rgb(238, 238, 242), rgb(248, 248, 252));
}

.colour-facebook {
    color: #4267B2;
}

.colour-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.colour-twitter {
    color: #38A1F3;
}