/* title */

.title-container {
    border-bottom: solid rgb(186, 186, 186) 1px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.small-title {
    background-color: #f7faff;
    border: solid #dee6f3 1px;
    padding: 4px 5px;
}


/* link container */

.tip-link-container {
    height: 100%;
    border-top: solid rgb(69, 69, 69) 3px;
    border-left: solid rgb(186, 186, 186) 1px;
    border-right: solid rgb(186, 186, 186) 1px;
    border-bottom: solid rgb(186, 186, 186) 1px;
    border-radius: 3px;
    background: -webkit-linear-gradient(rgb(248, 252, 252), rgb(240, 242, 245), rgb(248, 248, 251));
    box-shadow: 0 3px 4px 0 rgba(98, 152, 167, 0.07), 0 12px 20px 0 rgba(25, 62, 72, 0.06);
}

.tip-link-container h5 {
    color: rgb(62, 62, 62);
}

.result-container-preview {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 4px 0 rgba(98, 152, 167, 0.04), 0 17px 40px 0 rgba(25, 62, 72, 0.04);
    padding: 8px;
    height: 120px;
}

.text-small {
    font-size: 10px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}


/* ALL THE PREVIEWS FOR THE LESSONS */


/* scroll down animation */

.arrow {
    width: 10px;
    height: 10px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    transform: rotate(45deg);
    animation: arrows 1.5s ease-in-out infinite;
}

.arrow-mid {
    animation-delay: 0.5s;
}

.arrow-bottom {
    animation-delay: 1s;
}

@keyframes arrows {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}