h1 {
    font-size: 50px;
}


/* Page */

.page-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    position: relative;
    padding: 0px 8px;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
}

.page-container-mobile {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display: none;
}

.language-lession {
    text-align: center;
    position: relative;
    bottom: 8px;
    left: 80px;
}

.top-border {
    border-top: solid rgb(182, 182, 182) 1px;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    width: 96.9%;
    height: 210px;
    position: absolute;
    bottom: 70px;
    border: solid white 1px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(98, 152, 167, 0.12), 0 11px 40px 0 rgba(25, 62, 72, 0.09);
}


/* coding sections */

.code-section-label {
    margin: 0;
    padding: 1px 4px;
    position: relative;
    top: 10px;
    left: 12px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: solid black 1px;
    width: auto;
    display: inline-block;
}


/* how to */

.result-container-code {
    font-family: 'Source Code Pro', monospace;
    padding: 11px;
    border: solid white 1px;
    background-color: black;
    border-radius: 5px;
    font-size: 10px;
    color: #f1f1f1;
    box-shadow: 0 1px 3px 0 rgba(98, 152, 167, 0.12), 0 11px 40px 0 rgba(25, 62, 72, 0.09);
}

footer {
    position: absolute;
    width: 95%;
    bottom: 5px;
}


/* media query */

@media only screen and (max-width: 600px) {
    .page-container {
        display: none;
    }
    .page-container-mobile {
        display: block;
    }
}