/* ALL THE PREVIEWS FOR THE LESSONS */


/* animate a gradient */

.animate-a-gradient-result {
    font-size: 70px;
    background: -webkit-linear-gradient(#6dc1be, #aad643, #2ed16f);
    background-position: 0% 0%;
    background-size: 100% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 5s ease-in-out infinite alternate;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}


/* menu transition */

.burger-container {
    cursor: pointer;
}

.burger-container div {
    transition: 0.5s;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    margin-top: 4px;
}

.burger-one-closed {
    transform: scaleX(1) translate(0px, 7px) rotateZ(-45deg);
}

.burger-two-closed {
    transform: scaleX(0) translate(0px, 0px) rotateZ(0deg);
}

.burger-three-closed {
    transform: scaleX(1) translate(0px, -7px) rotateZ(45deg);
}


/* scroll down animation */

.arrow {
    width: 10px;
    height: 10px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    transform: rotate(45deg);
    animation: arrows 1.5s ease-in-out infinite;
}

.arrow-mid {
    animation-delay: 0.5s;
}

.arrow-bottom {
    animation-delay: 1s;
}

@keyframes arrows {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* expand close */

.expand-button {
    background-color: rgb(67, 243, 123);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.button-close {
    background-color: red;
}

.hidden-text {
    display: none;
}