/* ALL THE PREVIEWS FOR THE LESSONS */


/* animate a gradient */

.animate-a-gradient-result {
    font-size: 70px;
    background: -webkit-linear-gradient(#6dc1be, #aad643, #2ed16f);
    background-position: 0% 0%;
    background-size: 100% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 5s ease-in-out infinite alternate;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}


/* menu transition */

.burger-container {
    cursor: pointer;
}

.burger-container div {
    transition: 0.5s;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    margin-top: 4px;
}

.burger-one-closed {
    transform: scaleX(1) translate(0px, 7px) rotateZ(-45deg);
}

.burger-two-closed {
    transform: scaleX(0) translate(0px, 0px) rotateZ(0deg);
}

.burger-three-closed {
    transform: scaleX(1) translate(0px, -7px) rotateZ(45deg);
}


/* scroll down animation */

.arrow {
    width: 10px;
    height: 10px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    transform: rotate(45deg);
    animation: arrows 1.5s ease-in-out infinite;
}

.arrow-mid {
    animation-delay: 0.5s;
}

.arrow-bottom {
    animation-delay: 1s;
}

@keyframes arrows {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* expand close */

a:not([href]) {
    color: initial;
}

button:focus {
    outline: none;
}

.expand-button {
    background-color: rgb(24, 187, 76);
    color: white;
    padding: 5px 10px;
    border-bottom: solid rgb(21, 152, 63) 4px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}

.expand-button:hover {
    border-bottom: solid rgb(24, 187, 76) 4px;
    background-color: rgb(21, 152, 63);
    color: rgb(216, 223, 89);
}

.button-close {
    background-color: red;
    border-bottom: solid rgb(162, 14, 14) 4px;
}

.button-close:hover {
    border-bottom: solid red 4px;
    background-color: rgb(162, 14, 14);
    color: rgb(178, 223, 89);
}

.button-text {
    display: none;
}